<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Signin Template · Bootstrap v5.3</title>
    <link href="bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="sign-in.css" rel="stylesheet" />
    <script src="bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>
  </head>
  <body class="d-flex align-items-center py-4 bg-secondary">
    <main
      class="form-signin w-100 m-auto text-center border border-promary rounded-3"
    >
      <form action="/auth/proses-daftar" method="post">
        <img
          class="mb-1"
          src="images/logo_nt_3.png"
          alt="ngoding by thinking"
          width="100"
          height="auto"
        />
        <% if (req.query.msg) { %>
         
          <div class="alert alert-warning" role="alert">
             <strong>Mohon Maaf! </strong><%= req.query.msg %>
          </div>
        <% } %>
        <h1 class="h3 mb-3 fw-normal">Silahkan Daftar</h1>
        <div class="form-floating">
          <input
            type="text"
            name="form_username"
            class="form-control"
            id="floatingInput"
            placeholder="username anda"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="form_password"
            class="form-control mb-0"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="form_konfirmasi_password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Konfirmasi Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Daftar</button>
        <a class="text-body-secondary" href="/login">Sudah punya akun? Masuk</a>
        <p class="mt-5 mb-3 text-body-secondary">
          Inventory App &copy; 2026 Develop by Fauzan Zohro
        </p>
      </form>
    </main>
  </body>
</html>
