<%- include('../layout/menu_atas') %>
<%- include('../layout/side_bar') %>
<div class="d-flex flex-coloumn justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Master User</h1>
</div>
<table>
    <thead>
        <th> ayam</th>
    </thead>
</table>
<%- include('../layout/footer') %>